VtbCalculator.CalculationServiceClients/Connected Services/Reference/CalculationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VtbCalculator.BusinessLogic.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VtbCalculator.BusinessLogic.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculationRequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LeftOperand" type="xs:decimal" />
      <xs:element minOccurs="0" name="OperationType" type="xs:int" />
      <xs:element minOccurs="0" name="RightOperand" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationRequestModel" nillable="true" type="tns:CalculationRequestModel" />
  <xs:complexType name="CalculationResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessfull" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculationResultModel" nillable="true" type="tns:CalculationResultModel" />
</xs:schema>